extends layout

block content
  title 브로든 이메일 인증하기

  .wrap
    h1
        | 비밀번호를
        br  
        span.b_font 설정
        | 해주세요.
    p.p_font 영문, 숫자, 특수문자 조합으로 8~16자로 사용하세요.
    .mgt30
      form#join-form(action='/user/auth/password-set' method='post' onsubmit='return check()')
        .input-group
          input#email(style='display:none' name='email' value=email) 
          input#token(style='display:none' name='token' value=token) 
        .input-group
          label(for='join-password') 비밀번호
          input#join-password(type='password' name='password' placeholder='비밀번호를 입력하세요')
        .input-group
          label(for='join-password-confirm') 비밀번호 확인
          input#join-password-confirm(type='password' name='passwordConfirm' placeholder="비밀번호를 확인하세요.")
        if joinError
          .error-message = joinError
        div#check-result.check-result
        button#join-btn(type='submit') 확인
  script. 
    document.querySelector('#join-password-confirm').addEventListener('change', function (e) {
     let password=document.querySelector('#join-password').value;
     let passwordConfirm=e.target.value;

     if(password===passwordConfirm){
       document.querySelector('#check-result').textContent='비밀번호가 일치합니다.';
     }
     else{
       document.querySelector('#check-result').textContent='비밀번호가 일치하지 않습니다.';
     }
     //console.log(e.target.join-password-confirm.value);
    });
    check=function(){
      let password=document.querySelector('#join-password').value;

      //[참고] : e.target으로 돔 호출시, sanke방식 이름을 작동안함. ex)password-confirm 불가
      //let passwordConfirm=e.target.passwordConfirm.value;
      let passwordConfirm=document.querySelector('#join-password-confirm').value;
      
      if (password!==passwordConfirm) {
        console.log('비밀번호가 일치하지않습니다.');
        return false;
      }
      console.log('비밀번호가 일치합니다.');
      return true;
    };
  